[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
spotipy = "*"
click = "*"

[dev-packages]
black = "*"
mypy = "*"
ruff = "*"

[pipenv]
allow_prereleases = true
